/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-breadcrumbs1{
	height: 40px;
	box-shadow: 8px 8px 24px rgba(0,0,0,.1);
	width: 100%;
	max-width:1200px;
	margin: 0 auto;
	background: #f4f4f4;
	display: block;
	ul{
		display: inline-flex;
		align-items: center;
		height: 100%;
		width: 100%;
		padding: 0 80px;
	}
	&__list{
		line-height: 1;
		font-size: 1.2rem;
		display: inline-flex;
        align-items: center;
        color: $color1;
		&:after{
			content:">";
			display: inline-block;
			vertical-align: middle;
			margin: 0 3px;
	        //transform: translateY(-2px);
		}
		&:last-child{
			&:after{
				content:""
			}
		}
	}
	a{
		color: #003567;
	}
}