/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{

}

/*
------------------------------------------------------------*/
.c-footer-bottom{
	background: #000;
	padding: 75px 0;
}

/*
------------------------------------------------------------*/
.c-fnavi{
	margin-bottom: 70px;
	//----------------------------------
	ul{
		display: flex;
		justify-content: center;
	}
	//----------------------------------
	a{
		font-size: 1.4rem;
		font-weight: 400;
		color: #fff;
		padding: 0 15px;
		vertical-align: middle;
		img{
			vertical-align: middle;
			margin-left: 3px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-copyright{
	font-size: 1.2rem;
	color: #999;
	text-align: center;
}