/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	//-------------------------------
	&__inner{
		background: #fff;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1);
		margin-top: 9px;
		padding-left: 30px;
	}
}

/*
------------------------------------------------------------*/
.c-gnavi{
	>ul{
		display: flex;
		>li{
			&:hover{
				>a{
					&:before{
						transform: scale(1, 1);
					}
				}
			}
			>a{
				font-size: 1.4rem;
				color: $color1;
				padding: 30px 15px;
				position: relative;
				font-weight: 500;
				display: inline-block;
				&:before{
					content: '';
					position: absolute;
					height: 3px;
					width: 0;
					background: $color2;
					bottom: 0;
					left: 0;
					transition: 0.3s;
					transform: scale(0, 1);
					width: 100%;
				}
				
			}
			&.nav-sub{
				>a{
					padding-right: 35px;
					&:after{
						content: '';
						position: absolute;
						width: 7px;
						height: 7px;
						border-bottom: 1px solid #0f4170;
						border-left: 1px solid #0f4170;
						transform: translateY(-50%) rotate(-45deg);
						top: 50%;
						right: 20px;
					}
					// &.active{
					// 	&:before{
					// 		content: none;
					// 	}
					// }
				}
				.c-submenu{
					position: absolute;
					width: 100%;
					background: rgba(0, 53, 103, 0.9);
					top: 111px;
					left: 0;
					padding: 33px 55px 33px 80px;
					display: none;
					&__block{
						display: flex;
					}
					ul{
						margin-left: 10px;
						width: calc(100% / 3);
						&:first-of-type{
							margin-left: 0;
						}
					}
					&__ttl1{
						font-size: 2rem;
						color: #fff;
						width: 260px;
						margin-right: 34px;
						flex-shrink: 0;
						position: relative;
						&:after{
							content: '';
							border-right: 1px solid rgba(255, 255, 255, 0.3);
							position: absolute;
							width: 0;
							top: 50%;
							transform: translateY(-55%);
							height: 80%;
							right: 0;
						}
					}
					a{
						font-size: 1.6rem;
						color: #fff;
						padding-left: 20px;
						position: relative;
						padding: 1px 0;
						padding-left: 16px;
						display: block;
						font-weight: 400;
						margin-bottom: 9px;
						&:before{
							content: '';
							border-top: 2px solid rgba(255, 255, 255, 0.8);
							border-right: 2px solid rgba(255, 255, 255, 0.8);
							width: 6px;
							height: 6px;
							top: 50%;
							left: 0;
							position: absolute;
							transform: rotate(45deg) translateY(-50%);
						}
					}
					ul{

					}
				}
			}
		}
		
	}
}

/*
------------------------------------------------------------*/
.c-hcontact{
	height: 100%;
	width: 160px;
	text-align: center;
	&__link{
		font-size: 1.6rem;
		height: 100%;
		width: 100%;
		background: #ee7b00;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		
		&.active{
			opacity: 0.8;
		}
		span{
			position: relative;
			padding-right: 25px;
			&:after{
				content: '';
				border-width: 0 2px 2px 0;
				border-color: #fff;
				border-style: solid;
				position: absolute;
				width: 10px;
				height: 10px;
				transform: rotate(45deg);
				right: 0;
				top: 4px;
			}
		}
	}
	&__info{
		position: absolute;
		left: 0;
		width: 100%;
		background: rgba(238, 123, 0, 0.9);
		box-shadow: 0px 8px 24px 0px rgba(238, 123, 0, 0.3);
		padding: 40px;
		display: none;
		.c-list2{
			max-width: 1080px;
			margin: auto;
		}
	}
}
/*
------------------------------------------------------------*/
.c-header-top{
	display: flex;
	justify-content: space-between;
	$root: &;
	//-------------------------------
	&__txt1{
		font-size: 1.2rem;
		text-decoration: none;
		color: $color1;
		position: relative;
		padding-left: 10px;
		line-height: 1.7;
		&:before{
			content: '';
			position: absolute;
			width: 7px;
			height: 7px;
			border-bottom: 1px solid #0f4170;
			border-left: 1px solid #0f4170;
			transform: rotate(45deg);
			top: 5px;
			left: 0;
		}
	}
	//-------------------------------
	&__right{
		display: flex;
		align-items: center;
		#{$root}__txt1{
			padding: 0 15px;
			border-right: 1px solid $color1;
			&:before{
				transform: rotate(225deg);
			}	
		}
	}
	//-------------------------------
	&__txt2{
		font-weight: bold;
		font-size: 1.2rem;
		color: $color1;
		position: relative;
		padding-left: 20px;
		margin-left: 15px;
		&:before{
			content: '';
			background: url('/assets/img/common/icon-phone1.png') no-repeat;
			position: absolute;
			width: 15px;
			height: 20px;
			left: 0;
		}
	}

	//-------------------------------
	&__hotline{
		display: flex;
		align-items: center;
		li{
			display: flex;
			align-items: center;
			margin-left: 10px;
		}
		b{
			font-size: 1.2rem;
			font-weight: bold;
			color: $color1;
			border: 1px solid #7f7f7f;
			line-height: 1.5;
    		padding: 0px 7px;
    		display: inline-block;
    		margin-right: 5px;
		}
		a{
			font-size: 1.8rem;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: bold;
			color: $color1;
		}
	}
}