/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	padding: 10px;
	background: #fff url('/assets/img/common/bg.png');
	overflow-x: hidden;
}

/*
------------------------------------------------------------*/
.l-wrap1{
	width: 1040px;
	margin: 0 auto;
}

.l-wrap2{
	width: 1200px;
	margin: 0 auto;
}

.l-wrap3{
	width: 1080px;
	margin: 0 auto;
}