//============================================
// サイト幅でセンタリング
//============================================
//@mixin center{
//	width: $baseWidth;
//	margin: 0 auto;
//}

//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
		"Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
@mixin mincho() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
		"Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
//============================================
// breakpoint
//============================================
@mixin sp {
	@media screen and (max-width: #{$breakpoint1}) {
		@content;
	}
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 200;
  src: local("NotoSansJP-Light.otf"),
    url(/assets/font/NotoSansJP-Light.woff2) format("woff2"),
    url(/assets/font/NotoSansJP-Light.woff) format("woff"),
    url(/assets/font/NotoSansJP-Light.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  src: local("NotoSansJP-DemiLight.otf"),
    url(/assets/font/NotoSansJP-DemiLight.woff2) format("woff2"),
    url(/assets/font/NotoSansJP-DemiLight.woff) format("woff"),
    url(/assets/font/NotoSansJP-DemiLight.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("NotoSansJP-Regular.otf"),
    url(/assets/font/NotoSansJP-Regular.woff2) format("woff2"),
    url(/assets/font/NotoSansJP-Regular.woff) format("woff"),
    url(/assets/font/NotoSansJP-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: local("NotoSansJP-Medium.otf"),
    url(/assets/font/NotoSansJP-Medium.woff2) format("woff2"),
    url(/assets/font/NotoSansJP-Medium.woff) format("woff"),
    url(/assets/font/NotoSansJP-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("NotoSansJP-Bold.otf"),
    url(/assets/font/NotoSansJP-Bold.woff2) format("woff2"),
    url(/assets/font/NotoSansJP-Bold.woff) format("woff"),
    url(/assets/font/NotoSansJP-Bold.otf) format("opentype");
}