//baseWidth
//$baseWidth1:1000px;

// Breakpoint
$breakpoint1: 767px;
$breakpoint2: 480px;

// Common Colors
$color1:#111;
$color2:#003567;
//$color3:#;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
