/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1{
	$root: &;
	//---------------------------
	&__txt{
		font-size: 1.6rem;
		font-weight: bold;
		color: #fff;
		background: #ee7b00;
		width: 280px;
		height: 80px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-shadow: 8px 8px 24px rgba(238,123,0,.15);
		span{
			position: relative;
			padding-right: 26px;
			&:after{
				content: '';
				background: url('/assets/img/common/icon1-btn1.png') no-repeat;
				width: 16px;
				height: 16px;
				position: absolute;
				right: 0;
				top: 5px;
			}
		}
	}
	//---------------------------
	&--blue{
		#{$root}__txt{
			background: #003567;
			width: 260px;
			height: 60px;
			box-shadow: 8px 8px 24px rgba(0,53,103,.15);
			&:hover{
				background: #0068b7;
				opacity: 1;
			}
			
		}
	}
}

/*
------------------------------------------------------------*/
.c-btn2{
	&__txt{
		font-weight: bold;
		font-size: 1.6rem;
		border: 1px solid #003567;
		max-width: 166px;
		width: 100%;
		height: 60px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		color: #0068b7;
		span{
			position: relative;
			padding-right: 26px;
			&:after{
				content: '';
				background: url('/assets/img/common/icon1-btn2.png') no-repeat;
				width: 16px;
				height: 16px;
				position: absolute;
				right: 0;
				top: 5px;
			}
		}
	}
}