/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-ttl1{
	$root: &;
	display: flex;
	align-items: center;
	//------------------------------
	&__txt2{
		font-size: 3.2rem;
		color: $color2;
		margin-top: 8px;
	}
	//------------------------------
	&__right{
		width: calc(100% - 345px);
		padding-left: 45px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			background: $color1;
			height: 80%;
			width: 1px;
			transform: translateY(-50%);
			left: 0;
			top: 52%;
		}
		p{
			font-size: 1.6rem;
			color: $color1;
			line-height: 2;
		}
	}
	//------------------------------
	&--text{
		#{$root}__left{
			width: 345px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-ttl2{
	$root: &;
	display: flex;
	align-items: center;
	//-----------------------------------
	&__txt2{
		font-size: 2rem;
		color: $color1;
		font-weight: bold;
		margin-top: 15px;
	}
	//------------------------------
	&__right{
		width: calc(100% - 330px);
		padding-left: 40px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			background: $color1;
			height: 80%;
			width: 1px;
			transform: translateY(-50%) skew(-14deg);
			left: 0;
			top: 50%;
		}
		p{
			font-size: 1.6rem;
			color: $color1;
			line-height: 2;
		}
	}
	//------------------------------
	&--text{
		#{$root}__left{
			width: 330px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-ttl3{
	display: flex;
	align-items: center;
	$root: &;
	//------------------------------
	&--width{
		display: block;
		#{$root}__txt1{
			width: 100%;
		}
	}
	//------------------------------
	&__rank{
		border: 10px solid #00a0e9;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 5px 0px;
		margin-right: 20px;
		background: #fff;
		box-shadow: 8px 8px 24px rgba(0,160,233,.15);
	}
	//------------------------------
	&__txt4{
		position: relative;
		padding-left: 25px;
		margin-bottom: 30px;
		&:before{
			content: '';
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: 4px solid #0068b7;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			box-sizing: border-box;
		}
	}
	//------------------------------
	&__txt2{
		font-size: 1.4rem;
		font-weight: bold;
		color: #0068b7;
		width: 100%;
		text-align: center;
	}
	//------------------------------
	&__txt1{
		color: $color1;
		font-size: 2.8rem;
		width: calc(100% - 120px);
	}
}

/*
------------------------------------------------------------*/
.c-ttl4{
	$root: &;
	//--------------------------------
	&--green{
		#{$root}__icon{
			background: #009e96;
			box-shadow: 8px 8px 24px rgba(0,158,150,.15);
		}
	}
	//--------------------------------
	&--white{
		#{$root}__icon{
			background: #fff;
			box-shadow: 8px 8px 24px rgba(4,0,0,.1);
		}
	}
	//--------------------------------
	&__icon{
		width: 80px;
		height: 80px;
		background: #00a0e9;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto 25px;
		box-shadow: 8px 8px 24px rgba(0,160,233,.15);
		font-size: 1.6rem;
		font-weight: bold;
		color: #111;
	}
	//--------------------------------
	&__txt{
		font-size: 2rem;
		text-align: center;
	}
}

/*
------------------------------------------------------------*/
.c-ttl5{
	display: flex;
	align-items: center;
	//-----------------------------------
	&__icon{
		border-radius: 50%;
		overflow: hidden;
		width: 100px;
		height: 100px;
		margin-right: 20px;
	}
	//-----------------------------------
	&__detail{
		padding-bottom: 11px;
	}
	//-----------------------------------
	&__txt1{
		font-size: 2.8rem;
		color: $color1;
		margin-bottom: 15px;
	}
	//-----------------------------------
	&__info{
		display: flex;
		li{
			display: flex;
			margin-right: 20px;
		}
		span{
			font-size: 1.2rem;
		    font-weight: 700;
		    color: #111;
		    border: 1px solid #7f7f7f;
		    line-height: 1.5;
		    padding: 0 7px;
		    display: inline-block;
		    margin-right: 5px;
		}
		p{
			font-size: 1.4rem;
			font-weight: bold;
			margin-left: 5px;
		}
	}
}