/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-navi1{
	margin-bottom: 25px;
	//--------------------------------------
	ul{
		display: flex;
		align-items: center;
		height: 80px;
	}
	//--------------------------------------
	&__tab{
		font-size: 1.8rem;
		width: 270px;
		height: 70px;
		color: #fff;
		display: flex;
		align-items: center;
		cursor: pointer;
		position: relative;
		padding-left: 80px;
		transition: all 0.3s;
		&:after{
			content: '';
			width: 9px;
			height: 9px;
			position: absolute;
			border-bottom: 2px solid #fff;
			border-right: 2px solid #fff;
			transform: translateY(-50%) rotate(45deg);
			top: 50%;
			right: 30px;
		}
		&.is-active{
			height: 80px;
			cursor: auto;
			&:before{
				content: '';
				bottom: -12px;
				left: 50%;
				position: absolute;
				border-style: solid;
				border-width: 12px 6px 0 6px;
			}
		}
		img{
			position: absolute;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);
		}
		&.all{
			background: #0068b7;
			box-shadow: 8px 8px 24px rgba(0,104,183,.3);
			&:before{
				border-color: #0068b7 transparent transparent transparent;
			}
		}
		&.security{
			background: #00a0e9;
			box-shadow: 8px 8px 24px rgba(0,160,233,.3);
			&:before{
				border-color: #00a0e9 transparent transparent transparent;
			}
		}
		&.business{
			background: #009e96;
			box-shadow: 8px 8px 24px rgba(0,158,150,.3);
			&:before{
				border-color: #009e96 transparent transparent transparent;
			}
		}
		&.smart{
			background: #8fc31f;
			box-shadow: 8px 8px 24px rgba(143,195,31,.3);
			&:before{
				border-color: #8fc31f transparent transparent transparent;
			}
		}
	}
}