/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-imgtxt1{
	display: flex;
	justify-content: space-between;
	$root: &;
	//---------------------------------
	&--custom{
		#{$root}__img{
			padding-top: 0;
		}
		.c-ttl3{
			margin-bottom: 30px;
		}
		.c-btn2{
			margin-top: 32px;
		}
	}
	//---------------------------------
	&--right{
		#{$root}__info{
			order: 2;
			padding-right: 0;
			padding-left: 35px;
		}
	}
	//---------------------------------
	&__info{
		width: calc(100% - 520px);
		padding-right: 35px;
		.c-ttl3--width{
			.c-ttl3__txt1{
				line-height: 1.5;
				margin-bottom: 23px;
			}
		}
		>p{
			font-size: 1.6rem;
			color: $color1;
			line-height: 2;
		}
	}
	//---------------------------------
	&__img{
		width: 520px;
		padding-top: 8px;
		img{
			max-width: 100%;
		}
	}
}

/*
------------------------------------------------------------*/
.c-imgtxt2{
	display: flex;
	justify-content: space-between;
	$root: &;
	//---------------------------------
	&__right{
		#{$root}__info{
			order: 2;
		}
	}
	//---------------------------------
	&__info{
		width: calc(100% - 600px);
		padding: 0 60px;
		.c-ttl3--width{
			.c-ttl3__txt1{
				line-height: 1.5;
				margin-bottom: 23px;
			}
		}
		>p{
			font-size: 1.6rem;
			color: $color1;
			line-height: 2;
		}
	}
	//---------------------------------
	&__img{
		width: 600px;
		img{
			max-width: 100%;
		}
	}
}

/*
------------------------------------------------------------*/
.c-feature{
	padding: 0 3.7977%;
}

/*
------------------------------------------------------------*/
.c-imgtxt3{
	overflow: hidden;
	min-height: 720px;
	position: relative;
	$root: &;
	//---------------------------------------
	&__img{
		width: 100%;
		height: 540px;
		img{
			max-width: 100%;
		}
	}
	//---------------------------------------
	&__left{
		width: 55%;
		position: absolute;
		left: 0;
		z-index: 1;
	}
	//---------------------------------------
	&__right{
		width: 55%;
		background: #f4f4f4;
		min-height: 720px;
		float: right;
		padding-left: 5.2%;
		padding-right: 20px;
		padding-bottom: 20px;
		
	}
	//---------------------------------------
	&__ttl{
		line-height: 1.5;
    	margin-bottom: 23px;
    	color: #111;
    	font-size: 2.8rem;
	}
	//---------------------------------------
	&__txt{
		font-size: 1.6rem;
		line-height: 2;
	}
	//---------------------------------------
	&__pr{
		max-width: 660px;
		width: 100%;
		margin-top: 80px;
		position: relative;
		padding-right: 60px;
		padding-bottom: 60px;
		z-index: 1;
		&:after{
			bottom: 0;
			right: 0;
			width: 384px;
    		height: 364px;
			content: '';
			position: absolute;
			background: url('/assets/img/common/bg-feature.png') no-repeat;
			z-index: -1;
		}
	}
	&__box{
		padding: 53px 60px;
		background: #fff;
	}
	//---------------------------------------
	.c-ttl2{
		margin-bottom: 60px;
	}
}