/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1{
	$root: &;
	//----------------------------------------
	ul{
		display: flex;
		justify-content: space-between;
	}
	//----------------------------------------
	.c-ttl4{
		margin-bottom: 18px;
	}
	//----------------------------------------
	.c-btn1{
		margin-top: 27px;
	}
	//----------------------------------------
	&__item{
		background: #fff;
		width: calc(100% / 3 - 6.66px);
		padding: 40px;
	}
	//----------------------------------------
	&__txt{
		font-size: 1.6rem;
    	color: #111;
    	line-height: 1.8;
	}
}

/*
------------------------------------------------------------*/
.c-list2{
	$root: &;
	//----------------------------------------
	ul{
		display: flex;
		justify-content: space-between;
	}
	//----------------------------------------
	.c-ttl4{
		margin-bottom: 8px;
		&__txt{
			font-size: 1.8rem;
		}
		&__icon{
			margin-bottom: 15px;
		}
	}
	//----------------------------------------
	.c-btn1{
		margin-top: 15px;
		&__txt{
			background: #ee7b00;
			box-shadow: 8px 8px 24px rgba(238,123,0,.15);
		}
	}
	//----------------------------------------
	&--with{
		#{$root}__item{
			width: calc(100% / 3 - 1.99px);
		}
	}
	//----------------------------------------
	&__item{
		background: #fff;
		width: calc(100% / 3 - 6.66px);
		padding: 40px;
		&:first-of-type{
			#{$root}__hotline{
				margin-bottom: 15px;
				margin-left: 16px;
				span{
					font-size: 1.4rem;
					color: $color2;
					border: 1px solid $color2;
					padding: 1px 10px;
					display: inline-block;
					margin-right: 9px;
				}
			}
			#{$root}__open{
				font-size: 1.2rem;
				text-align: center;
				line-height: 1.7;
				b{
					display: block;
				}
			}
			.c-ttl4{
				margin-bottom: 16px;
			}
		}
	}
	//----------------------------------------
	&__txt{
		font-size: 1.4rem;
    	color: #111;
    	line-height: 1.8;
	}
}

/*
------------------------------------------------------------*/
.c-list3{
	$root: &;
	//--------------------------------------
	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	//--------------------------------------
	&--width{
		#{$root}__item{
			padding: 0 30px;
			width: 360px;
			border-right: 1px solid #999;
			&:first-of-type{
				padding-left: 30px;
			}
			&:last-of-type, &:nth-of-type(3n){
				padding-right: 30px;
			}
		}
		.c-time1{
			span{
				font-size: 1.4rem !important;
				color: #666;
			}
		}
	}
	//--------------------------------------
	&__item{
		width: 345px;
		padding: 0 45px;
		border-right: 1px solid #111;
		margin-bottom: 60px;
		position: relative;
		&:first-of-type{
			padding-left: 40px;
		}
		&:last-of-type, &:nth-of-type(3n){
			padding-right: 40px;
			border-right:none;
		}
		&:hover{
			#{$root}__ttl{
				span{
					border-bottom: 1px solid #0068b7;
					color: #0068b7;
				}
			}
		}

	}
	//--------------------------------------
	&__cattime{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	//--------------------------------------
	&__ttl{
		margin-top: 12px;
		margin-bottom: 8px;
    	line-height: 1.8;
    	font-size: 1.6rem;
		font-weight: bold;
		transition: all 0.3s;
		span{
			border-bottom: 1px solid transparent;
			transition: all 0.3s;
			color: #111;
		}
	}
	//-------------------------------------
	&__txt{
		font-size: 1.4rem;
		line-height: 1.8;
	}
	//-------------------------------------
	&__link{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	//-------------------------------------
	// .c-time1{
	// 	span{
	// 		vertical-align: middle;
	// 		padding-left: 7px;
	// 		font-size: 1.2rem;
	// 	}
	// 	img{
	// 		vertical-align: middle;
	// 	}
	// }
}

/*
------------------------------------------------------------*/
.c-list4{
	//-------------------------------------
	&__item{
		background: #fff;
		padding: 40px;
		margin-bottom: 10px;
	}
	//-------------------------------------
	.c-solvetxt{
		margin-top: 40px;
	}
	//-------------------------------------
	.c-btn2{
		text-align: center;
		margin-top: 40px;
	}
}

/*
------------------------------------------------------------*/
.c-list5{
	border: 1px solid #ddd;
	//-------------------------------------
	&__item{
		display: flex;
		padding: 40px;
		background: #fff;
		border-top: 1px solid #ddd;
		position: relative;
		&:first-of-type{
			border: none;
		}
	}
	//-------------------------------------
	&__img{
		width: 160px;
		height: 160px;
		text-align: center;
		margin-right: 40px;
	}
	//-------------------------------------
	&__detail{
		position: relative;
		width: calc(100% - 200px);
		margin-top: -6px;
	}
	//-------------------------------------
	&__ttl{
		font-size: 2rem;
		margin-bottom: 10px;
	}
	//-------------------------------------
	&__txt{
		font-size: 1.4rem;
		line-height: 1.8;
	}
	//--------------------------------------
	&__tagtime{
		margin-top: 10px;
	}
	//--------------------------------------
	.c-tags{
		margin-top: 7px;
	}
	//--------------------------------------
	.c-btn2{
		position: absolute;
		bottom: 0;
		right: 0;
		&__txt{
			height: 40px;
			width: 170px;
			font-size: 1.4rem;
			span{
				&:after{
					background-size: 100%;
					width: 12px;
					height: 12px;
				}
			}
		}
	}
	//--------------------------------------
	.c-cats{
		position: absolute;
		top: 0;
		left: 0;
	}
}

/*
------------------------------------------------------------*/
.c-list6{
	$root: &;
	ul{
		display: flex;
		flex-wrap: wrap;
	}
	//----------------------------------
	&__item{
		width: 264px;
		//min-height: 240px;
		background: #fff;
		padding: 57px 20px 17px 20px;
		box-shadow: 8px 8px 24px rgba(4,0,0,.1);
		position: relative;
		margin-bottom: 8px;
		margin-right: 8px;
		transition: all 0.3s;
		&:nth-of-type(4n){
			margin-right: 0;
		}
		// &:hover{
		// 	transform: scale(1.03);
		// 	#{$root}__ttl, #{$root}__txt1{
		// 		transform: scale(0.97);
		// 	}
		// }
		&.security{
			&:hover{
				#{$root}__ttl{
					color: #00a0e9;
					span{
						border-bottom: 1px solid #00a0e9;
					}
				}
			}
		}
		&.business{
			&:hover{
				#{$root}__ttl{
					color: #009e96;
					span{
						border-bottom: 1px solid #009e96;
					}
				}
			}
		}
		&.smart{
			&:hover{
				#{$root}__ttl{
					color: #8fc31f;
					span{
						border-bottom: 1px solid #8fc31f;
					}
				}
			}
		}
	}
	//----------------------------------
	&__img{
		text-align: center;
		max-width: 165px;
		margin: 0 auto;
		img{
			max-width: 100%;
		}
	}
	//----------------------------------
	&__ttl{
		font-size: 1.6rem;
		line-height: 1.8;
		margin-top: 51px;
		margin-bottom: 6px;
		transition: color 0.2s;
		span{
			transition: border 0.2s;
			border-bottom: 1px solid transparent;
		}
	}
	//----------------------------------
	&__txt1{
		color: #0068b7;
		font-size: 1.2rem;
	}
	.c-cats{
		position: absolute;
		top: 0;
		left: 0;
	}
	//----------------------------------
	&__link{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}