/*------------------------------------------------------------
slide
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-slide1{
	position: relative;
	$root: &;
	//---------------------------------------
	&__block{
		//display: flex;
		padding-bottom: 70px;
		overflow: hidden;
	}
	//---------------------------------------
	&__item{
		width: 500px;
		margin-right: 40px;
		position: relative;
		background: #fff;
		display: inline-block;
		transition: all 0.3s;
		&:hover{
			box-shadow: 8px 8px 24px rgba(4,0,0,.1);
			#{$root}__txt1{
				// text-decoration: underline;
				// -webkit-text-underline-position: under;
  		// 		-ms-text-underline-position: below;
  		// 		text-underline-position: under;
  				span{
					border-bottom: 1px solid #fff;
  				}
			}

		}
	}
	//---------------------------------------
	&__ttl{
		position: absolute;
		overflow: hidden;
		z-index: 1;
		top: -40px;
		left: 0;
		width: 92%;
		&:after{
			content: '';
			background: rgba(0, 0, 0, 0.3);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		img{
			filter: blur(12px);
			position: absolute;
			bottom: 40px;
    		left: 0;
			z-index: -1;
			transform: scale(1.5);
		}
	}
	//---------------------------------------
	&__img{
		width: 500px;
		height: 280px;
		padding-top: 280px / 500px * 100%;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    width: auto;
		    height: 100%;
		    min-width: 100%;
		    min-height: 100%;
		    max-width: 200%;
		    transform: translate(-50%, -50%);
		}
	}
	//---------------------------------------
	&__txt1{
		font-size: 2rem;
		color: #fff;
		min-height: 110px;
		// display:inline-flex;
		// align-items: center;
		padding: 26px 40px 20px;
		box-sizing: border-box;
		transition: all 0.3s;
		span{
			transition: all 0.3s;
			border-bottom: 1px solid transparent;
			display: i
		}
	}
	//---------------------------------------
	&__txt2{
		font-size: 1.4rem;
		line-height: 1.8;
	}
	//---------------------------------------
	&__info{
		padding: 94px 40px 40px 40px;
		position: relative;
	}
	//---------------------------------------
	&__link{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 2;
	}
	//---------------------------------------
	.c-time1{
		margin-top: 12px;
    	margin-bottom: 6px;
	}
	//---------------------------------------
	.c-cats{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	//---------------------------------------
	.slick-arrow{
		position: absolute;
		bottom: 0;
		cursor: pointer;
		&.prev{
			transform: rotate(180deg);
			&:after{
				content: '';
				width: 1px;
				height: 100%;
				position: absolute;
				background: #111;
				right: 39px; 
			}
		}
	}
	//---------------------------------------
	.c-numberslide{
		font-size: 1.6rem;
		color: $color1;
		position: absolute;
		bottom: 0;
	}
	//---------------------------------------
	.c-btn1{
		position: absolute;
		left: 0;
		bottom: -22px;
		&__txt{
			width: 198px;
		}
	}
	//---------------------------------------
	&--width{
		//-----------------------------------
		#{$root}__item{
			width: 520px;
		}
		//-----------------------------------
		#{$root}__info{
			padding: 53px 30px 30px 30px;
		}
		//-----------------------------------
		#{$root}__img{
			width: 520px;
			padding-top: 292px / 520px *100%;
		}
		//-----------------------------------
		#{$root}__txt1{
			line-height: 1.8;
			font-size: 1.8rem;
			padding-left: 30px;
		}
		//-----------------------------------
		#{$root}__ttl{
			top: -80px;
    		width: 94%;
		}
		.c-time1{
			margin: 8px 0 0;
			span{
				font-size: 1.4rem;
				color: #666;
				padding-left: 0;
			}
		}
	}
}