/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mv1{
	border: 20px solid #ffdd00;
	height: 560px;
	background: #fff;
	display: flex;
	align-items: center;
	//--------------------------------
	&__img{
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: calc(100% - 607px);
	}
	//--------------------------------
	&__detail{
		padding: 20px;
		width: 607px;
		text-align: center;
	}
	//--------------------------------
	&__ttl1{
		font-size: 4rem;
		line-height: 1.5;
		display: table;
		margin: 0 auto 30px;
		max-width: 360px;
		text-align: left;
		b{
			padding-left: 40px;
		}
	}
	//--------------------------------
	&__btn1{
		max-width: 360px;
		width: 100%;
		font-size: 1.6rem;
		box-sizing: border-box;
		background: #003567;
		color: #fff;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		padding: 8px 5px;
		margin-bottom: 40px;
	}
	//--------------------------------
	&__logo1{
		margin-bottom: 15px;
	}
}

/*
------------------------------------------------------------*/
.c-cvarea1{
	display: flex;
	height: 450px;
	overflow: hidden;
	align-items: center;
	justify-content: space-between;
	//-------------------------------------
	.c-ttl2{
		&__txt2{
			color: #fff;
		}
	}
	//-------------------------------------
	.c-btn1--blue{
		.c-btn1__txt{
			background: #ee7b00;
			width: 296px;
			box-shadow: 8px 8px 24px rgba(238,123,0,.15);
		}
	}
	//-------------------------------------
	&__info{
		width: 480px;
	}
	//-------------------------------------
	&__img{
    	align-self: flex-start;
		padding-top: 30px;
		width: calc(100% - 480px);
		padding-left: 60px;
		img{
			max-width: 100%;
		}
	}
	//-------------------------------------
	&__txt{
		font-size: 1.6rem;
		//font-weight: 400;
	    color: #fff;
	    line-height: 2;
	    margin: 29px 0;
	}
}


/*
------------------------------------------------------------*/
.c-cvarea2{
	display: flex;
	height: 160px;
	align-items: center;
	justify-content: space-between;
	position: relative;
	//-------------------------------------
	&__img{
    	align-self: flex-start;
		padding-top: 30px;
		width: 280px;
		// position: absolute;
		// top: 50%;
		transform: translateY(-70px);
		img{
			max-width: 100%;
		}
	}
	//-------------------------------------
	&__txt{
		font-size: 1.6rem;
		//font-weight: 400;
	    color: #fff;
	    line-height: 2;
	    margin: 29px 0;
	}
	//-------------------------------------
	.c-ttl4{
		display: flex;
		align-items: center;
		&__icon{
			margin-bottom: 0;
			font-size: 1.6rem;
			color: #009e96;
			background: #fff;
			margin-right: 13px;
		}
		&__txt{
			text-align: left;
			color: #fff;
		}
	}
}

/*
------------------------------------------------------------*/
.c-cats{
	$root: &;
	//----------------------------------
	&__txt{
		font-size: 1.2rem;
		line-height: 1.5;
		padding: 3px 10px;
		font-weight: bold;
		background: #0068b7;
		display: inline-block;
		color: #fff;
	}
	//----------------------------------
	&--blue1{
		#{$root}__txt{
			background: #00a0e9;
		}
	}
	//----------------------------------
	&--green1{
		#{$root}__txt{
			background: #009e96;
		}
	}
	//----------------------------------
	&--green2{
		#{$root}__txt{
			background: #8fc31f;
		}
	}
}

/*
------------------------------------------------------------*/
.c-time1{
	span{
		vertical-align: middle;
		padding-left: 7px;
		font-size: 1.2rem;
	}
	img{
		vertical-align: middle;
	}
}

.c-tags{
	font-size: 1.2rem;
	padding-left: 22px;
	position: relative;
	&:before{
		content: '';
		background: url('/assets/img/common/icon-tags.png') no-repeat;
		position: absolute;
		width: 12px;
		height: 10px;
		left: 0;
		top: 5px;
	}
	a{
		font-size: 1.2rem;
		color: #0068b7;
	}
}

/*
------------------------------------------------------------*/
.c-solvetxt{
	max-width: 960px;
	margin: 0 auto;
	$root: &;
	//-------------------------------------
	&__row{
		display: flex;
		padding: 30px 40px 34px 40px;
		&:nth-of-type(odd){
			background: #d9e8f4;
			#{$root}__ttl{
				h5{
					color: $color2;
				}
			}

		}
		&:nth-of-type(even){
			background: #f4f4f4;
			#{$root}__ttl{
				h5{
					color: #009e96;
				}
			}
		}
	}
	//-------------------------------------
	&__ttl{
		width: 80px;
		h5{
			font-size: 1.6rem;
			line-height: 2;
		}
	}
	//-------------------------------------
	&__info{
		width: calc(100% - 80px);
		display: flex;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			width: 1px;
			height: 94%;
			background: #111;
			top: 10px;
			left: 0;
		}
	}
	//-------------------------------------
	&__txt{
		padding-left: 40px;
		p{
			font-size: 1.6rem;
			line-height: 2;
		}
	}
	//-------------------------------------
	&__img{
		width: 320px;
		flex-shrink: 0;
		margin-left: 40px;
		margin-top: 10px;
		img{
			max-width: 100%;
		}
	}
}

/*
------------------------------------------------------------*/
.c-banner1{
	padding: 80px 0;
	background: url('/assets/img/common/img1-cv3.jpg') no-repeat center/cover;
}

/*
------------------------------------------------------------*/
.c-cvarea3{
	//-------------------------------------
	&__box{
		display: flex;
		justify-content: space-between;
		padding: 30px 60px 40px;
		background: #fff;
	}
	//-------------------------------------
	&__ttl{
		font-size: 2rem;
		line-height: 1.5;
		color: #fff;
		text-align: center;
		background: #009e96;
    	padding: 15px 0 25px;
    	position: relative;
    	box-shadow: 8px 8px 24px rgba(0,158,150,.15);
    	&:before{
			content: '';
		    bottom: -12px;
		    left: 50%;
		    position: absolute;
		    border-style: solid;
		    border-width: 12px 6px 0 6px;
		    border-color: #009e96 transparent transparent transparent;
    	}
    	
	}
	//-------------------------------------
	&__left{
		width: 420px;
	}
	//-------------------------------------
	&__right{
		width: 420px;
	}
	//-------------------------------------
	&__txt{
		font-size: 1.6rem;
		line-height: 1.8;
		margin-top: 22px;
	}
	//-------------------------------------
	.c-btn1{
		&__txt{
			width: 276px;
			height: 60px;
			margin-top: 21px;
		}
	}
	//-------------------------------------
	.c-ttl3{
		&__rank{
			border-color: #009e96;
			box-shadow: 8px 8px 24px rgba(0,158,150,.15);
		}
	}
}


/*
------------------------------------------------------------*/
.c-mv2{
	width: 100%;
	height: 880px;
	padding-top: 225px;
	background: url('/assets/img/common/mv2.jpg') no-repeat center/cover;
	&__ttl{
		font-size: 4rem;
		color: #003567;
		margin-bottom: 43px;
	}
	&__txt{
		font-size: 1.6rem;
		color: $color1;
		line-height: 2;
	}
}